html
    head
        title=title
        link(rel='stylesheet' type='text/css' href='css/style.css')
    body
        a(href="/")="HOME"
        a(href="/hola")="CREAR"
        h1=message
        input(type="submit", value="PELÍCULA BUSCADA" id="buttonSearch")
        input(type="text",  id="movSearch")
        br
       
        script(src="/script.js")